h2{
    font-size: 1.66em;
    color: rgb(4, 255, 255);
    text-decoration-color: wheat;
    font-family: cursive;
    text-align: center;
}
#contenido{
    margin: 0.5 auto;
    width: 100%;
    padding-top: 0.3em;
    position: flex;
    justify-content: space-around;
}
#contenido #derecha{
    width: 49%;
    height: 25.75em;
    background-color: rgb(0, 32, 90);
    flex-direction: column;
    float: right;
    order: 3;
    text-align: justify;
}
.contenedor{
    display: flex;
}
.texto{
    color: white;
    padding-left: 1%;
    vertical-align: top;
    padding-right: 3%;
    text-align: justify;
}
.imagen{
    width: 150px;
    margin-left: 1%;
}
#contenido #izquierda{
    width: 49%;
    height: 25.75em;
    background-color: red;
    flex-direction: column;
    float: left;
    order: 1;
}
h3{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.66em;
    color: gainsboro;
}
#contenido #boton2{
    text-align: center;
    background-color: brown;
    text-decoration: none;
    width: 50%;
    margin: auto;
    font-size: large;
    font-family: cursive;
}
h4{
    text-align: center;
    color: aliceblue;
}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
    color: blanchedalmond;
    width: 98%;
}
body{
    background-image: linear-gradient(45deg, #f06, #09f);
    background-repeat: no-repeat;
    background-size: cover;
}
#contenido #valores{
    text-align: center;
    color: white;
}
#contenido #texto2{
    text-align: justify;
    color: antiquewhite;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
}
header {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
    font-size: 5em;
    color: blanchedalmond;
}


header #menu {
    font-size: medium;
    background-color: rgb(127, 140, 255);
    background-repeat: no-repeat;
    background-size: 100%;
}
#buttons{
    display: flex;
    justify-content: left;
    width: 98.7%;
    height: 4.75em;
    margin: 0.9em;
    padding-top: 0.9em;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8px;
    vertical-align: middle;
}
header #buttons li {
    display: inline-flex;
    vertical-align: middle;
}
header #buttons a {
    font-family: monospace;
    font-size: small;
    font-family: cursive;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    width: 18em;
    height: 2.35em;
    padding-top: 1em;
    border-radius: 8px;
    background-color: rgb(63, 61, 61);
    box-sizing: border-box;
    padding: 10px 5px;
    vertical-align: middle;
}
header #buttons a:hover, .active{
    background: url(archivos/menu_h.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.imagen2{
    width: 30%;
    height: 200px;
    padding-top: 20px;
    padding-left: 20px;
}
header #logo{
    width: 15%;
}
#cont #info{
    text-align: center;
    color: azure; 
    justify-content: center;
}
.sub{
    color: aqua;
    font-size: xx-large;
    text-align: center;
}