body{
    background-color: rgb(208, 228, 254);
    
}

.videos{
    text-align: center;
}


.botones {
    text-align: center;
    margin-top: 1em;
}


.botones input[type="submit"],
.botones button {
    background-color: #8B0000;  
    color: white;
    font-family: cursive;
    font-size: 1.1em;
    padding: 0.7em 1.5em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 0.5em;  
}

.botones input[type="submit"]:hover,
.botones button:hover {
    background-color: #a52a2a; 
}


header {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
    font-size: 5em;
    color: rgb(252, 183, 81);
}

header #menu {
    font-size: medium;
    background-color: rgb(127, 140, 255);

}
#buttons{
    display: flex;
    justify-content: left;
    width: 98.7%;
    height: 4.75em;
    margin: 0.9em;
    padding-top: 0.9em;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8px;
}
header #buttons li {
    display: inline-flex;
}
header #buttons a {
    font-family: monospace;
    font-size: small;
    font-family: cursive;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    width: 18em;
    height: 2.35em;
    padding-top: 1em;
    border-radius: 8px;
    background-color: rgb(63, 61, 61);
    box-sizing: border-box;
    padding: 10px 5px;
}
header #buttons a:hover, .active{
    background: url(archivos/menu_h.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}